body{  
    font-family: "Tohoma";
   }
   *{
     box-sizing: border-box;
     margin:0;
     padding:0;
   }
   body{
    background-image: url(../images/img4.jpg);
    background-size: cover;
    z-index: 2;
   }
   .myheader{
     width: 100%;
     height: 80px;
     background-color: #45f1eb;
     color: #fff;
     display: flex;
     justify-content: space-between;
     align-items: center;
     opacity:0.7;
   }
   .mylogo img{
     width: 66px;
     height: 65px;
     float: left;
     border-radius: 50%;
     margin-left: 5px;
   }
   .mylist{
     text-decoration: none;
     display: flex;
     list-style: none;
     justify-content: space-around;
    }
    .mylist li{
      margin-right:25px;
      font-size: 26px;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
   }
   .myText{
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%);
     width:600px;
     text-align: center;
   }
   .myText h1{
     font-size:42px;
     color:#45f1eb;
     margin-bottom:20px;
   }
   .myText p{
     font-size:22px;
     font-weight:bold;
     color:#777;
     line-height: 1.6;
   }